<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the
  <a href="http://7edge.com/">7EDGE</a>.
  To get help on this sample app, see the
  <a href="http://7edge.com/"><em>7EDGE</em></a>.
</p>